@import "tailwindcss";
@import "@fontsource-variable/inter";

* {
  font-family: "Inter Variable", sans-serif;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply scroll-smooth;
  }
}
